{% extends 'base/base.html' %}
{% load static %}



{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/edit_profile.css' %}">
{% endblock %}
{% block content %}

    <form class="profile-edit-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="text-center">Edit Profile</h2>

    <div class="form-group">
        <label for="{{ form.first_name.id_for_label }}">First Name</label>
        {{ form.first_name }}
        {{ form.first_name.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>

    <div class="form-group">
        <label for="{{ form.total_recipes.id_for_label }}">Total Recipes</label>
        {{ form.total_recipes }}
    </div>

    <div class="form-group">
        <label for="id_profile_image">Profile Image</label>
        <input type="file" name="profile_image" id="id_profile_image" class="form-control">
    </div>

    <div class="form-group">
        <label for="{{ form.cooking_level.id_for_label }}">Cooking Level</label>
        {{ form.cooking_level }}
    </div>

    <!-- Бутон за записване -->
    <button type="submit" class="btn btn-primary">Save Changes</button>

    <!-- Бутон за изтриване на профила -->
        <button class="btn btn-danger">
    <a href="{% url 'delete_profile' user.pk %}" >Delete Profile</a>
            </button>
</form>

{% endblock %}

