{% extends 'base/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
    <main class="container">
        <section class="highlight">
            <form method="get" action="{% url 'dashboard' %}">
                <input
                    type="text"
                    name="q"
                    placeholder="Search recipes..."
                    value="{{ request.GET.q|default:'' }}"
                    class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </section>

        <section>
            <h2>Latest recipes</h2>
            <section class="recipes">
                <ul>
                    {% for recipe in recipes %}
                        <li>
                            {% if recipe.recipes_images %}
                                <a href="{% url 'detail_post' recipe.pk %}">
                                <img  src="{{ recipe.recipes_images.url }}" alt="">
                                </a>
                            {% else %}
                                <a href="{% url 'detail_post' recipe.pk %}">
                                <img  src="{% static 'images/recipe-no-image.png' %}" alt="">
                                </a>
                            {% endif %}
                            <h3>{{ recipe.title }}</h3>
                            <p>{{ recipe.description|slice:":30" }}...</p>
                        <div class="actionBtns">
                            <div class="left">
                                <span class="heart">
                                    <a href="{% url 'toggle_like' recipe.pk %}">
                                        {% if recipe.id in user_liked_recipes %}
                                            <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart"></i>
                                        {% endif %}
                                    </a>
                                </span>
                            </div>
                            <a href="#">
                                <p class="likes">{{ recipe.like_set.count }} likes</p>
                            </a>
                        </div>
                        </li>
                    {% empty %}
                        <li>No recipes available.</li>
                    {% endfor %}
                </ul>
            </section>
        </section>
    </main>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?q={{ request.GET.q }}&page=1">First</a>
            <a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">Next</a>
            <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}
