{% extends 'base/base.html' %}
{% load static %}
{% block content %}
{% block extra_css %}
     <link rel="stylesheet" href="{% static 'styles/register.css' %}">
    {% endblock %}
 <div class="register-container">
        <form method="post" class="register-form">
            {% csrf_token %}
            <h2>Login</h2>

            <div class="form-group">

                {{ form.username }}
            </div>

            <div class="form-group">

                {{ form.password }}
            </div>

            <div class="form-group">
                <button type="submit" class="register-btn">Log In</button>
            </div>

            <div class="login-redirect">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </form>
    </div>
{% endblock %}