{% extends 'base/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
    <main class="container">

        <section class="highlight">
            <h1>Welcome to the Recipe Website</h1>
            <p>Find delicious recipes for every occasion.</p>
        </section>
<section>
    <h2>Latest Recipes</h2>
    <section class="recipes">
        <ul>
            {% for recipe in recipes %}
                <li>
                    {% if recipe.recipes_images %}
                        <a href="{% url 'detail_post' recipe.pk %}">
                        <img src="{{ recipe.recipes_images.url }}" alt="Recipe 1">
                        </a>
                    {% else %}<img src="{% static 'images/recipe-no-image.png' %}" alt="Recipe 1">
                    {% endif %}
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>
</section>
</main>
{% endblock %}
