{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <h1>Profile Details</h1>
    <div class="profile-image-container">
        {% if profile.profile_image %}
        <img src="{{ profile.profile_image.url }}" alt="">
        {% else %}
        <img src="{% static 'images/DefaultProfilePicture.jpg' %}" alt="">
        {% endif %}
    </div>

    <div class="profile-details">
        <p><strong>Username:</strong> {{ profile.user.username|capfirst }}</p>
        <p><strong>First Name:</strong> {{ profile.first_name  }}</p>
        <p><strong>Last Name:</strong> {{ profile.last_name }}</p>
        <p><strong>Cooking Level:</strong> {{ profile.cooking_level }}</p>
        <p><strong>Total Recipes:</strong> {{ profile.total_recipes }}</p>
    </div>

    <a href="{% url 'edit_profile' user.pk %}" class="edit-profile-btn">Edit Profile</a>
</div>
{% endblock %}