{% extends "base/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/delete_recipe.css' %}">
{% endblock %}

{% block content %}
  <div class="delete-container">
    <h2>Are you sure you want to delete "{{ object.title }}"?</h2>
    <form method="post" class="delete-form">
      {% csrf_token %}
      <button type="submit" class="delete-btn">Yes, delete</button>
      <a href="{% url 'my_recipes' %}" class="cancel-btn">Cancel</a>
    </form>
  </div>
{% endblock %}
