
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f4f4f4;
}

.register-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 1rem;
    color: #666;
}

.form-group input,
.form-group select,
.form-group button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="file"] {
    padding: 0;
}


.form-group:last-child {
    display: flex;
    justify-content: center;
}

.register-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.register-btn:hover {
    background-color: #45a049;
}

.login-redirect {
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
}

.login-redirect a {
    color: #4CAF50;
    text-decoration: none;
}

.login-redirect a:hover {
    text-decoration: underline;
}
